.jumbotron {
  background: #0065BD;
  color: white;
  padding-bottom: 80px; 
}

.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7; 
}

.jumbotron .btn-primary:hover {
  background: #7646c1; 
}
  
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em; 
}
  
.navbar + .jumbotron {
  margin-top: -20px; 
}
  
.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white; 
}
.jumbotron .lang-logo img {
  max-width: 100%; 
}

.logo {
  width: 5rem;
  height: 5rem;
}

input {
  color: #0065BD;
  border: 3px solid white;
}

button {
  color: #0065BD;
  border: 3px solid white;
  border-radius: 4px;
  transition-duration: 0.4s;
}

button:hover {
  border: 3px solid gray;
  background-color: gray;
  color: white;
}

textarea {
  color: #0065BD;
  overflow: auto;
  resize: none;
  width: 40%;
  height: 140px;
  margin: 20px;
  border: 3px solid white;
}

input[type=text]:focus, input[type=textarea]:focus {
  border: 3px solid gray;
}

.item img {
  max-width: 30%;
}
ul {
  list-style-type: none;
}