<!DOCTYPE html>
<html land="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Input</title>
</head>

<body>
  <p>Please input your first name and your last name:</p>
  <form action="/pr01/submit" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken%>">
      <input type="text" name="firstName">
      <br>
      <input type="text" name="lastName">
      <br>
      <button type="submit">Submit</button>
  </form>
</body>
</html>