<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
</head>

<body>
  <% include ../../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
  </div>
</div>
  <% if (message) {%>
  <div class="container">
    <%= message %>
  </div>
  <%}%>
<div class="container">
    <form action="/profile/resetPassword" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken%>">
        <label for="email">E-Mail</label>
        <Input type="text" name="email">
        <button type="submit">Send Email</button>
    </form>
</div>


</body>
</html>
