<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p>Sorry! Something went wrong on our end. Please try again later! 
        For assistance call (555)-555-5555</p>
  </div>
</div>

</body>
</html>
