<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
  </div>
</div>
<% if (errorMessage) {%>
  <div class="container">
    <%= errorMessage %>
  </div>
  <%}%>
<div class="container">
    <form action="/signup" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken%>">
        <!-- <label for="username">Username</label>
        <Input type="text" name="username"> -->
        <label for="email">E-Mail</label>
        <Input type="text" name="email">
          <label for="username">Username</label>
          <Input type="text" name="username">
        <label for="password">Password</label>
        <Input type="text" name="password">
        <label for="passwordConfirm">Confirm Password</label>
        <Input type="text" name="passwordConfirm">
        <button type="submit">Sign Up</button>
    </form>
</div>


</body>
</html>
