<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
  <style>
      body {
          background: <%= color%>;
      }
  </style>
</head>

<body>
  <% include ../includes/nav.ejs %>
  <p>Counter: <%= counter %></p>
    <div>
        <form action="/ta05/change-style" method="POST">
            <input type="text" name="color">
            <button type="submit">submit</button>
        </form>
    </div>
    <div>
        <form action="/ta05/counter" method="POST">
            <input type="hidden" name="inc" value="increment">
            <button type="submit">Increment</button>
        </form>
    </div>
    <div>
        <form action="/ta05/counter" method="POST">
            <input type="hidden" name="dec" value="decrement">
            <button type="submit">Decrement</button>
        </form>
    </div>
    <div>
        <form action="/ta05/reset" method="POST">
            <button type="submit">Reset</button>
        </form>
    </div>
</body>
</html>